.atividades__titulo {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.atividades__seguidores {
    display: inline-block;
    color: var(--azul-claro);
    font-weight: 500;
    margin-bottom: .5rem;
}

.atividades__seguidores:hover {
    text-decoration: underline;
}

.atividades__item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--branco-opaco);
}

.atividade__info {
    color: var(--branco-opaco);
}

.atividade__conteudo {
    display: flex;
    gap: .5rem;
}

.atividade__img {
    height: 4rem;
    width: 4rem;
}

.atividade__interacao {
    display: flex;
    justify-content: space-between;
}

.atividade__reacao,
.atividade__comentarios {
    color: var(--branco-opaco);
}

.atividades__todas {
    display: block;
    color: var(--branco-opaco);
    text-align: center;
    padding-top: .5rem;
    text-decoration: none;
}

.atividade__reacao:hover,
.atividade__comentarios:hover,
.atividades__todas:hover {
    color: var(--branco);
}