.formacao {
    display: flex;
    gap: .5rem;
}

.formacao__img {
    height: 3rem;
    width: 3rem;
}

.formacao__info {
    display: flex;
    flex-direction: column;
}

.formacao__instituicao {
    color: var(--branco);
    font-weight: 600;
    font-size: 16px;
}

.formacao__instituicao:hover {
    color: var(--azul-claro);
    text-decoration: underline;
}

.formacao__duracao {
    color: var(--branco-opaco);
}