@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(./card.css);
@import url(./navbar.css);
@import url(./info-perfil.css);
@import url(./destaques.css);
@import url(./atividades.css);
@import url(./sobre.css);
@import url(./experiencias.css);
@import url(./formacao.css);
@import url(./idiomas.css);
@import url(./lateral.css);

:root {
    --preto: #000000;
    --preto-opaco: rgba(0,0,0,0.75);
    --branco: rgba(255,255,255,0.9);
    --branco-opaco: rgba(255,255,255,0.6);    
    --azul-claro: #70B5F9;
    --azul-claro-hover: rgb(170, 214, 255);
    --fundo-card: #1B2226;
    --input: #38434F;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    font-family: var(--font-roboto);
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    display: flex;
    padding: 1.5rem 9.5rem;
    gap: 1rem;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.lateral {
    min-width: 346px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }
}

@media screen and (min-width: 1150px) {
    .container{
        margin-inline: auto;
    }
}