.rodape {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: .5rem 1rem;
    background-color: var(--branco);
    box-shadow: 0px -4px 8px var(--preto-opaco);
    border-radius: .75rem .75rem 0 0;
}

.rodape__input {
    display: none;
}

.rodape__botao {
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--azul);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 1.5rem;
}

.rodape__botao:hover {
    background-color: var(--azul-hover);
}

.rodape__botao--mais {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
}

.rodape__botao--mais::before {
    content: '\e907';
    font-family: var(--font-icon);
}

.rodape__botao--pin {
    order: 2;
    text-decoration: none;
}

.rodape__botao--pin::before {
    content: '\e901';
    font-family: var(--font-icon);
}

.rodape__botao--camera {
    order: 2;
    text-decoration: none;
}

.rodape__botao--camera::before {
    content: '\e904';
    font-family: var(--font-icon);
}

.rodape-lista__botoes {
    display: none;
    position: absolute;
    bottom: 9.5rem;
    right: 1rem;
}

.rodape__input:checked ~  .rodape-lista__botoes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
}

.rodape-item__botoes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rodape-botao__texto {
    order: 1;
    font-weight: 500;
    font-size: .75rem;
    background-color: var(--branco);
    border-radius: 1rem;
    padding: .125rem .5rem;
}

.rodape__fundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.rodape__input:checked ~ .rodape__fundo{
    display: block;
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
}

.rodape__item {
    opacity: 0.3;
}

.rodape__item:hover {
    opacity: 1;
}

.rodape__item--ativo {
    opacity: 1;
}

.rodape__item--ativo .rodape__link {
    color: var(--azul);
}

.rodape__input:checked ~ .rodape__lista > .rodape__item--ativo .rodape__link {
    color: var(--azul-escuro);
}

.rodape__link {
    color: var(--cinza-escuro);
    font-size: .75rem;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__link--consulta::before {
    content: '\e900';
    font-family: var(--font-icon);
    font-size: 1.5rem;
}

.rodape__link--cliente::before {
    content: '\e905';
    font-family: var(--font-icon);
    font-size: 1.5rem;
}

.rodape__link--relatorio::before {
    content: '\e902';
    font-family: var(--font-icon);
    font-size: 1.5rem;
}

.rodape__link--menu::before {
    content: '\e906';
    font-family: var(--font-icon);
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .rodape {
        padding: .5rem 2rem;
    }

    .rodape__lista {
        justify-content: space-around;
    }

    .rodape__botao--mais {
        right: 2rem;
    }

    .rodape-lista__botoes {
        right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .rodape {
        position: static;
        bottom: auto;
        width: auto;
        padding: 2rem;
        border-radius: 0 .75rem .75rem 0;
    }
    
    .rodape__lista {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .rodape__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }

    .rodape__botao {
        display: none;
    }
}