@import url('./perfil.css');
@import url('./consultas.css');
@import url('./cadastro.css');
@import url('./rodape.css');

@font-face {
    font-family: 'icons';
    src: url(../font/icons.ttf);
}

:root {
    --fundo: 165.96deg, #F8F4FF 0%, #EFF0F4 100%;
    --preto: #333333;
    --preto-opaco: rgba(0, 0, 0, 0.06);
    --cinza-escuro: #464646;
    --cinza: #A3A3A3;
    --cinza-claro: #F6F6F6;
    --cinza-hover: #e4e4e4;
    --branco: #FFFFFF;
    --azul: #4894FF;
    --azul-hover: #4786F0;
    --azul-active: #4373DC;
    --azul-active-border: #57A4FF;
    --azul-focus: #4062C9;
    --azul-focus-border: #4894FF;
    --azul-escuro: #224679;
    --azul-opaco: rgba(72, 148, 255, 0.16);
    --vermelho: #DE0000;
    --laranja: #FFB050;
    --laranja-hover: #d19143;
    --laranja-opaco: rgba(255, 176, 80, 0.16);
    --borda: #ECECEC;
    --borda-hover: #CFCFCF;
    --font-text: 'Montserrat', sans-serif;
    --font-icon: 'icons';
}

body {
    background: linear-gradient(var(--fundo));
    color: var(--preto);
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    body {
        flex-direction: row-reverse;
    }
    main {
        width: 100%;
    }
}