.cabecalho {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 6rem 0;
 gap: 1.5rem;
 margin: 0 4rem;
}

.cabecalho__titulo {
    color: var(--vermelho);
    font-weight: 600;
}

.cabecalho__subtitulo {
    color: var(--titulo);
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.75rem;
}

.cabecalho__texto {
    width: 60%;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
}