.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 4rem 4.5rem 4rem;
}

.vagas__titulo {
    color: var(--vermelho);
    background-color: var(--vermelho-opaco);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0.85rem;
    padding: 0.25rem .75rem;
    border-radius: 1rem;
}

.vagas__subtitulo {
    color: var(--titulo);
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
}

.vagas__texto {
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.vagas__img {
    width: 90%;
    margin: 2rem 0;
}

@media screen and (max-width: 768px) {
    .vagas {
        margin: 0 1rem 4rem 1rem;
        gap: 1rem;
    }

    .vagas__titulo {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .vagas__subtitulo {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .vagas__texto {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .vagas__img {
        width: 100vW;
        margin: 1rem 0;
    }
}